@model RegisterDto
@{
	ViewBag.Title = "Register";
}

<dvi class="container mx-auto my-5">
	<div class="card p-4 mx-auto" style="max-width:450px;">

		<div class="text-center my-2">
			<div class="logo">
				<span class="text-primary">Seller</span>
				<span class="text-info">Boyz</span>
			</div>
		</div>

		<h1 class="text-center my-2">Register</h1>

		<div class="text-danger my-2" asp-validation-summary="All">

		</div>

		<form asp-controller="auth" asp-action="register" id="form">

			<div class="form-floating mb-3">
				<input asp-for="Name" class="form-control" id="Name" placeholder="Name">
				<label for="Name">Name</label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="Email" class="form-control" id="Email" placeholder="name@example.com">
				<label for="Email">Email</label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-floating mb-3">
				<input asp-for="Password" class="form-control" id="Password" placeholder="name@example.com">
				<label for="Password">Password</label>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<button class="btn btn-primary d-block w-75 mx-auto" type="submit">Register</button>

		</form>
		<small>Already have an account?
			<a asp-controller="auth" asp-action="login">login</a>
		</small>
	</div>
</dvi>


@section scripts{
	<partial name="_ValidationScriptsPartial"/>

}