@model IEnumerable<ProductCollectionDto>
@{
	ViewBag.Title = "Collections";
}

<div class="container m-5" style="max-width:450px;">

	<a asp-controller="collection" asp-action="Upsert" asp-area="admin" class="btn  btn-primary px-4 d-inline-block mb-2">
		<i class="bi bi-plus-circle"></i> Create
	</a>

	@if (Model.Count() > 0)
	{
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Collection Name</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var collection in Model)
				{
					<tr>
						<td>@collection.CollectionName</td>
						<td>
							<a class="btn btn-sm btn-success" asp-controller="collection" asp-action="upsert" asp-area="admin" asp-route-id="@collection.Id">Edit</a>
							<a class="btn btn-sm btn-danger" asp-controller="collection" asp-action="delete" asp-area="admin" asp-route-id="@collection.Id">Delete</a>

						</td>
					</tr>

				}
			</tbody>


		</table>
	}


</div>