@model PasswordUpdateVM

@{
	ViewBag.Title = "Password Update";
}

<div class="container mx-auto">
	<div class="card p-4 mx-auto" style="max-width:400px;">
		<div class="card-header">
			<h1 class="card-title text-center">Update Password</h1>
		</div>
		<div class="card-body">

			<div class="text-danger my-2" asp-validation-summary="All">

			</div>

			<form asp-controller="profile" asp-action="updatePassword">

				<div class="mb-3 vstack gap-2">
					<label class="text-light-emphasis">Old Password</label>
					<input asp-for="OldPassword" class="form-control" />
					<span class="text-danger" asp-validation-for="OldPassword"></span>
				</div>

				<div class="mb-3 vstack gap-2">
					<label class="text-light-emphasis">New Password</label>
					<input asp-for="newPassword" class="form-control" />
					<span class="text-danger" asp-validation-for="newPassword"></span>
				</div>

				<button class="btn btn-success d-block w-75 mx-auto" type="submit">Update Password</button>

			</form>
		</div>
	</div>
</div>


@section scripts{
	<partial name="_ValidationScriptsPartial" />
}

