
<span class="border nav-link p-1 px-3" style="border-radius:1000px;border-width:5px;cursor:pointer;">
	<i class="fs-5 bi bi-cart"></i>
	<span class="bg-danger text-white px-2 p-1  rounded-3">0</span>
</span>



